<h1 class="animated fadeIn fast">Hello Word</h1>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta veritatis possimus voluptates mollitia modi autem fuga porro repudiandae</p>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta veritatis possimus voluptates mollitia modi autem fuga porro repudiandae</p>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta veritatis possimus voluptates mollitia modi autem fuga porro repudiandae</p>